@import '../../../styles/partial';

//  Photo pop-up
.photoPopUpBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //background-color: rgba(255, 69, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;

        .photoPopUp {
            width: 100%;
            max-width: 1200px;
            max-height: calc(100vh - 50px);
            overflow: auto;
            padding: $standardBigGap;
            background-color: $header-footer-color;
            display: flex;
            gap: $standardBigGap;
            color: white;

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }

                .imgContainerLandscape {
                    width: 100%;
                    aspect-ratio: 6/4;
                    //flex: 3;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                }
                .imgContainerPortrait {
                    //max-height: calc(100vh - 200px);
                    width: 100%;
                    max-width: 400px;
                    aspect-ratio: 4/6;
                    //flex: 3;
                    align-self: center;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                }
                .imgInfoContainer {
                    display: flex;
                    flex-direction: column;
                    //flex: 1;
                    min-width: 200px;
                    gap: $standardMediumGap;

                        .imgInfoBulletPoint {
                            display: flex;
                            flex-direction: column;
                            gap: $standardSmallGap;
                        }
                }
        }

        .containerForExitButton {
            position: relative;
            width: fit-content;
            max-width: 1200px;
            max-height: calc(100vh - 50px);
            margin-left: $standardBigGap;
            margin-right: $standardBigGap;

                .xIcon {
                    width: 40px;
                    aspect-ratio: 1/1;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    border: 2px solid black;
                    cursor: pointer;
                    transition: scale 0.2s ease;

                        &:hover {
                            scale: 102%;
                        }

                        img {
                            width: 100%;
                        }
                }
        }
}