@import '../../../styles/partial';

//  Photo pop-up
.photoPopUpBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;

        .photoPopUp {
            width: 100%;
            max-width: 1200px;
            max-height: calc(100vh - 50px);
            overflow: auto;
            padding: $standardBigGap;
            background-color: black;
            display: flex;
            gap: $standardBigGap;
            color: white;

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }
            @media screen and (max-width: 700px) {
                padding: $standardSmallGap;
            }

                .imgContainerLandscape {
                    width: 100%;
                    aspect-ratio: 6/4;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                }
                .imgContainerPortrait {
                    width: 100%;
                    max-width: 400px;
                    aspect-ratio: 4/6;
                    align-self: center;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                }
                .imgInfoContainer {
                    display: flex;
                    flex-direction: column;
                    min-width: 200px;
                    max-width: 300px;
                    gap: $standardMediumGap;

                    @media screen and (max-width: 900px) {
                        max-width: none;
                    }

                        .imgInfoBulletPoint {
                            display: flex;
                            flex-direction: column;
                            gap: $standardSmallGap;

                                .bulletPointHeading {
                                    font-weight: 600;
                                }
                        }
                        .seperaterLine {
                            height: 5px;
                            background-color: white;
                            border-radius: 5px;
                        }
                }
        }

        .containerForExitButton {
            position: relative;
            width: fit-content;
            max-width: 1200px;
            max-height: calc(100vh - 50px);
            margin-left: $standardBigGap;
            margin-right: $standardBigGap;

            @media screen and (max-width: 700px) {
                margin-left: $standardMediumGap;
                margin-right: $standardMediumGap;
            }

                .xIcon {
                    width: 40px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translate(-50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: scale 0.2s ease;

                        &:hover {
                            scale: 102%;
                        }

                        img {
                            width: 40px;
                            height: 40px;
                        }
                }
        }
}