@import '../../styles/partial';

.aboutPage {
    @include responsivePadding;
    margin-top: $standardBigGap;
    margin-bottom: $standardBigGap;
    display: grid;
    grid-template-columns: 2fr 3fr;
    //gap: $standardBigGap;
    gap: 100px;

    @media screen and (max-width: 1000px) {
        gap: 50px;
    }
    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
    }

        .section1 {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .section2 {
            grid-column: 1/2;
            grid-row: 1/2;

            @media screen and (max-width: 700px) {
                .textChunk {
                    order: -1;
                }
            }
        }

        .aboutSectionStyle {
            display: flex;
            flex-direction: column;
            gap: $standardBigGap;

                .imgContainer {
                    width: 100%;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                }
                .textChunk {
                    display: flex;
                    flex-direction: column;
                    gap: $standardSmallGap;

                        h2 {
                            font-size: 1rem;
                        }
                } 
        }
}

