@import '../../../styles/partial';

.burgerMenu {
    position: relative;
    width: 100%;

        img {
            width: 40px;
            cursor: pointer;
        }

        .openBurger {
            position: absolute;
            top: 50px;
            left: 10px;
            width: calc(100% - 10px);
            max-width: 200px;
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $standardBigGap;

                .navLink {
                    text-decoration: none;
                    color: black;
                }
        }
        .blackBurger {
            background-color: black !important;

                .navLink {
                    color: white !important;
                }
        }
}