@import '../../../styles/partial';

.header {
    height: 100px;
    background-color: transparent;
    @include responsivePadding;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    color: white;

        .logo {
            width: 40px;
            z-index: 20;
        }

        .navLink {
            text-decoration: none;
            color: inherit;
        }
}
