@import '../../../styles/partial';

.galleryContainer {
    display: flex;
    flex-direction: row;
    gap: $standardBigGap;
    flex-wrap: wrap;

        .imageContainer {
            width: calc(50% - 25px);
            aspect-ratio: 6/4;
            cursor: pointer;
            overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: scale 0.2s ease;

                        &:hover {
                            scale: 102%;
                        }
                }
        }

        //  Photo pop-up
        .photoPopUpBackground {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(255, 69, 0, 0.4);
            z-index: 2;
        }
}