@import '../../../styles/partial';

.galleryPage {
    @include responsivePadding;
    display: flex;
    gap: $standardBigGap;
    margin-bottom: 50px;
    position: relative;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }

        .headingAndFilter {
            margin-top: 150px;

                .stickyContainer {
                    position: sticky;
                    top: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: $standardMediumGap;

                        select {
                            padding: 10px;
                            border-radius: 5px;
                            max-width: 200px;
                        }
                }
        }

        .galleryDisplayContainer {
            margin-top: 100px;
        
            @media screen and (max-width: 900px) {
                margin-top: 0;
            }
        }
}
